<div class="container">

	<span id="salir" (click)="salir()">Cerrar Sesion</span>


	<div class="datosPrincipales contenido">
		<h3 class="subtitulo">estadisticas usuario</h3>
		<div class="datos">
			<span>Posteos: </span>
			<span>44</span>
			<div class="datos">
				<span>Rango: </span>
				<span>C</span>
			</div>
			<div class="datos">
				<span>Habilidad: </span>
				<span>854</span>
			</div>
			<div class="datos">
				<span>Mostruos derrotados: </span>
				<span>210</span>
			</div>
			<div class="datos">
				<span>Con quien se ha enfrentado: </span>
				<span></span>
			</div>
			<div class="datos">
				<span>Mostruos con los que ha combatidos: </span>
				<span>43</span>
			</div>
			<div class="datos">
				<span>Resultados de la batalla: </span>
				<span>43 a favor </span>
			</div>
			v<div class="datos">
				<span>Patrocinadores: </span>
				<span>3</span>
			</div>
			<div class="datos">
				<span>Lugar de residencia: </span>
				<span>443</span>
			</div>
			<div class="datos">
				<span>Numero de telefono: </span>
				<span>443</span>
			</div>

		</div>
	</div>
</div>